@using Microsoft.AspNetCore.Identity

<style>
    .tab a {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
        color: white;
    }
</style>

@if (Context.User.Identity.IsAuthenticated)
{

    <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">        

            <a asp-page="/Account/Signin" style="color:white;float:right;">
                Customer Care
            </a>
            <a asp-page="/Order/Index" style="color:white;float:right;">
                <div class="esh-identity-name esh-identity-name--upper">My orders</div> 
            </a>

            <a asp-page="/Account/Manage/Index" style="color:white;float:right;">
                <div class="esh-identity-name esh-identity-name--upper">My account</div>               
            </a>


            <a href="javascript:document.getElementById('logoutForm').submit()" style="color:white;float:right;">
                <div class="esh-identity-name esh-identity-name--upper">Log Out</div>

            </a>
            @{
                if (string.IsNullOrEmpty(ViewBag.LoginPartialPath))
                {
                    @await Component.InvokeAsync("Basket")
                }
                else
                {
                    string k = ViewBag.LoginPartialPath;
                    @await Component.InvokeAsync("Basket");
                }
            }        
    </form>
}
else
{
    <form asp-controller="Account" asp-action="Logout" method="post"  id="logoutForm" class="navbar-right">
      
            <a asp-page="/Account/Signin" style="color:white;float:right;">
                Customer Care
            </a>
            <a asp-page="/Account/Signin" style="color:white;float:right;">
                Login
            </a>

            @{
                if (string.IsNullOrEmpty(ViewBag.LoginPartialPath))
                {
                    @await Component.InvokeAsync("Basket")
                }
                else
                {
                    string k = ViewBag.LoginPartialPath;
                    @await Component.InvokeAsync("Basket");
                }
            }
       
    </form>
}


